.sho  {
    width: 80%;
    margin: auto;
display: flex;
justify-content:space-between;
}
.sho button{
    margin-top:60px;
    width: 200px;
    height: 60px;
    font-size:18px;
    font-weight: 600;
    background-color:rgba(250, 250, 3, 0.906);
    border-radius:10px
}
.float{
    margin-top:2%;
    width: 80%;
    margin: auto;
}
.float img{
    float:left;
    width: 50%;
    height: 30%;
    margin-right: 10%;
}
.rig{
   padding-top:20%;
   

}
.rig button{
    width: 200px;
    height: 60px;
    font-size:18px;
    font-weight: 600;
    background-color:rgba(250, 250, 3, 0.906);
    border-radius:10px
}
h1{
    text-align:center;
    font-size:32px;
    font-weight:800;
    margin-bottom: 20px;
}