#main {
    background-color: rgba(255,238,233,255);
    padding: 5% 0%;
    /* border: 1px solid red; */
}

#img {
    margin: 0% 30% 0% 30%;
    padding: 3% 3%;
    /* border: 1px solid red; */
}

#img form {
    margin-top: 2%;
    background-color: white;
    width: 100%;
    /* margin-top: -5%; */
    padding: 5% 0%;
}

#img button{
    background-color: black;
    color: white;
}