.signup-div{
  max-width: 350px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.signup-box{
  border: 1px solid #dbdbdb;
  background-color: white;
  text-align: center;
  padding: 30px 0;
}

.signup-box h1{
  font-family: 'Architects Daughter', cursive;
font-family: 'Satisfy', cursive;
  font-size: 45px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
.signup-box h4{
  max-width: 80%;
  margin: auto;
  color: #8e8e8e;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}
.signup-box button{
  width: 80%;
  margin-bottom: 20px;
  background-color:black;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 35px;
}

.signup-box input{
   box-sizing: border-box;
   display: block;
   width: 80%;
   margin: auto;
   height: 35px;
   border-radius: 4px;
   margin-bottom: 6px;
   background-color: #fafafa;
   border: 1px solid #dbdbdb;
   padding-left: 10px;
}
.signup-box input[type="submit"]{
  background-color:black;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}
.signup-box p{
  max-width: 70%;
  margin: auto;
  color: #8e8e8e;
  font-size: 12px;
}
.link{
  text-decoration: none;
}
